<%= render "shared/header" %>
<div class="registration-main">
  <div class="registration-form-wrap">
    <div class="registration-form__header">ユーザー情報を編集</div>
    <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), class: 'registration-form', local: true do |f| %>
      <%= render partial: 'shared/error_messages', locals: { model: resource } %>
      <% if alert.present? %>
        <div class="registration-form__alert"><%= alert %></div>
      <% end %>
      <div class="registration-form__group">
        <%= f.label :nickname, 'ニックネーム' %>
        <%= f.text_field :nickname, class:"registration-form__input", placeholder:"例) 山田太郎", autofocus: true %>
      </div>
      <div class="registration-form__group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class:"registration-form__input", placeholder:"PC・携帯どちらでも可" %>
      </div>
      <%= f.submit "ユーザー編集" ,class:"registration-form__btn" %>
    <% end %>
  </div>
</div>