<%= render 'shared/header' %>
<div class="qa-index-main">

  <%# 異なるカテゴリー2に遷移するための、カテゴリー2の一覧 %>
  <div class="group-links">
    <ul class="group-links__ul">
    <% @category_seconds.each do |category_second| %>
      <% if @category_second.category_first_id == category_second.category_first_id %>
        <%= render partial: 'question_answers/group-link', locals: { group: category_second, path: category_second_shares_path(category_second), count: category_second.shares.count } %>
      <% end %>
    <% end %>
    </ul>
  </div>

  <%# 画像をクリックすると、この要素の子要素として挿入され、拡大表示される %>
  <div id="image-target"></div>
  
  <div class="qa-index-question-and-answer-area">
    <div class="share-index__category-info"><%= @category_second.category_first.name %>/<%= @category_second.name %>の問題一覧</div>
    <% @shares.each do |share| %>
      <div class="qa-index-item" >
        <%# ページ遷移してきた際に正常に位置を調整するためのターゲット。画面上に非表示。 %>
        <div class="qa-index-link-target" id=link-<%=share.question_answer.id%>></div>
        <% if share.question_answer.id == session[:qa_id] %>
          <%# セッションの中身をリセット %>
          <% session[:qa_id] = nil %>
          <p class="qa-index-notice"><%= notice %></p>
          <p class="qa-index-alert"><%= alert %></p>
        <% end %>
        <%# 問題と解答を表示 %>
        <div class="qa-index-item__qa">
          <%= render partial: 'question_answers/display_question_content', locals: {question_answer: share.question_answer} %>
          <%= render partial: 'question_answers/display_answer_content', locals: {question_answer: share.question_answer} %>
        </div>
        <%# //問題と解答を表示 %>
        <%# 問題と解答の下に位置するコンテンツを表示 %>
        <div class="share-index-item__description">
          投稿ユーザー：<span><%= share.question_answer.user.nickname %></span>
        </div>
        <%# //問題と解答の下に位置するコンテンツを表示 %>
      </div>
    <% end %>
    <%= paginate @shares %>
  </div>
</div>