<%# 一週間分の問題作成数or問題復習数を表示する部分テンプレート %>
<% date_and_records.each do |record| %>
  <div class="record__<%=create_or_review%>-count">
      <div class="record__date-wrap">
        <%=record[:month]%>/<%=record[:date]%><span class="record__week-day"><%=record[:week_day]%></span>
      </div>
      <div class="record__<%=create_or_review%>-count-lower"><%=record[:"#{create_or_review}_count"]%></div>
  </div>
<% end %>