<%= form_with model: group, class: "top-form-edit js-#{num}", local: true do |f| %>
  <%= f.text_area :name, class:"top-form-edit__input" %>
  <div class="top-form-edit__lower">
    <%= f.submit "編集", class:"top-form-edit__sumbit-btn js-#{num}" %>
    <div class="top-form-edit__close-btn js-<%=num%>"><%=image_tag 'top_form_close.png'%></div>
  </div>
<% end %>