<div class='group-panel js-<%=num%>' group-id=<%= group.id %>>
  <div class="group-panel__name-<%=num%>"><%= group.name %></div>
  <div class="group-panel__edit js-<%=num%>"><%= image_tag 'top_panel_edit.png' %></div>
</div>