<%= render "shared/header" %>
<div class='top-main'>
  <% if notice.present? %>
    <div class="top-notice"><%= notice %></div>
  <% end %>
  <%= render partial: 'shared/error_messages', locals: { model: @group } %>
  
  <div class='three-questions-area'>

    <%# 画面幅599px以下の場合に表示 %>
    <div class='top-tab'>
      <div class='top-tab__item review' id='top-page-tab-0'>問題を復習</div>
      <div class='top-tab__item create' id='top-page-tab-1'>問題を作成</div>
      <div class='top-tab__item management' id='top-page-tab-2'>問題を管理</div>
    </div>
    <%# //画面幅599px以下の場合に表示 %>

    <%# 左の問題復習エリア %>
    <div class='top-question-area review' id='question-area-0'> 
      <div class='top-question-area__title'>問題を復習</div>
      <div class='group-panel-wrap'>
      <% @groups.each do |group| %>
        <%= link_to review_group_question_answers_path(group), class: 'group-panel-link' do %>
          <%# ローカル変数countには、その日に復習できる問題の数が代入される %>
          <%= render partial: 'group_panel', locals: { group: group, num: 0, count: group.question_answers.where('display_date <= ?', Date.today).count } %>
        <% end %>
        <%# formはcssでdisplay: none;されているので最初は非表示 %>
        <%= render partial: 'edit_form', locals: { group: group, num: 0 } %>
      <% end %>
      <div class="open-create-form"><span class="top-plus">+</span> グループを作成
      </div>
      <%= form_with model: @group, class: 'top-form-create', local: true do |f| %>
        <%= f.text_area :name, class:"top-form-create__input", placeholder:"グループ名を入力してください。" %>
        <div class="top-form-create__lower">
          <%= f.submit "作成", class:"top-form-create__submit-btn" %>
          <div class="top-form-create__close-btn"><%=image_tag 'top_form_close.png'%></div>
        </div>
      <% end %>
      </div>
    </div>
    <%# //左の問題復習エリア %>

    <%# 中央の問題作成エリア %>
    <div class='top-question-area create' id='question-area-1'>
      <div class='top-question-area__title'>問題を作成</div>
      <div class='group-panel-wrap'>
      <% @groups.each do |group| %>
        <%= link_to new_group_question_answer_path(group), class: 'group-panel-link' do %>
          <%= render partial: 'group_panel', locals: { group: group, num: 1, count: "" } %>
        <% end %>
        <%# formはcssでdisplay: none;されているので最初は非表示 %>
        <%= render partial: 'edit_form', locals: { group: group, num: 1 } %>
      <% end %>
      </div>
    </div>
    <%# //中央の問題作成エリア %>

    <%# 右の問題管理エリア %>
    <div class='top-question-area management' id='question-area-2'>
      <div class='top-question-area__title'>問題を管理</div>
      <div class='group-panel-wrap'>
      <% @groups.each do |group| %>
        <%= link_to group_question_answers_path(group), class: 'group-panel-link' do %>
          <%# ローカル変数countには、作成した問題の数が代入される %>
          <%= render partial: 'group_panel', locals: { group: group, num: 2, count: group.question_answers.count } %>
        <% end %>
        <%# formはcssでdisplay: none;されているので最初は非表示 %>
        <%= render partial: 'edit_form', locals: { group: group, num: 2 } %>
      <% end %>
      </div>
    </div>
    <%# //右の問題管理エリア %>
  </div>
  <%= link_to 'option', edit_option_path(current_user.option) %>
  <div class="top-lower-area">
    <div class='record'>
      <div class="record__description">一週間の問題作成数</div>
      <div class="record__create-count-wrap">
        <%= render partial: 'create_or_review_count', locals: {date_and_records: @date_and_records, create_or_review: "create"} %>
      </div>
      <div class="record__description">一週間の問題復習数</div>
      <div class="record__review-count-wrap">
        <%= render partial: 'create_or_review_count', locals: {date_and_records: @date_and_records, create_or_review: "review"} %>
      </div>
    </div>
  </div>
</div>