<%= render "shared/header" %>
<div class='main'>
  <div class='three-questions-area'>

    <%# 画面幅599px以下の場合に表示 %>
    <div class='top-question-tab'>
      <div class='question-tab-review top-page-tab' id='top-page-tab-0'>問題を復習</div>
      <div class='question-tab-create top-page-tab' id='top-page-tab-1'>問題を作成</div>
      <div class='question-tab-management top-page-tab' id='top-page-tab-2'>問題を管理</div>
    </div>
    <%# //画面幅599px以下の場合に表示 %>

    <%# 左の問題復習エリア %>
    <div class='question-review-area question-area' id='question-area-0'> 
      <div class='quistion-review-word'>問題を復習</div>
      <div class='group-panel-area'>
      <% @groups.each do |group| %>
        <%= render partial: 'group_panel', locals: { group: group, num: 0 } %>
        <%# formはcssでdisplay: none;されているので最初は非表示 %>
        <%= render partial: 'edit_form', locals: { group: group, num: 0 } %>
      <% end %>
      <%# <div class="insert-group-panel"></div> %>
      </div>
    </div>
    <%# //左の問題復習エリア %>

    <%# 中央の問題作成エリア %>
    <div class='question-create-area question-area' id='question-area-1'>
      <div class='quistion-create-word'>問題を作成</div>
      <div class='group-panel-area'>
      <% @groups.each do |group| %>
        <%= link_to new_group_question_answer_path(group), class: 'link-create-question' do %>
          <%= render partial: 'group_panel', locals: { group: group, num: 1 } %>
        <% end %>
        <%# formはcssでdisplay: none;されているので最初は非表示 %>
        <%= render partial: 'edit_form', locals: { group: group, num: 1 } %>
      <% end %>
      <%# <div class="insert-group-panel"></div> %>
      <div class="js-create-group">+グループを作成
      </div>
      <%= form_with model: @group, class: 'create-group-form', local: true do |f| %>
        <%= f.text_area :name, class:"input-default", placeholder:"グループ名を入力してください。" %>
        <div class="lower-group-form">
          <%= f.submit "作成", class:"group-submit-button" %>
          <div class="close-create-form">×</div>
        </div>
      <% end %>
      </div>
    </div>
    <%# //中央の問題作成エリア %>

    <%# 右の問題管理エリア %>
    <div class='question-management-area question-area' id='question-area-2'>
      <div class='quistion-management-word'>問題を管理</div>
      <div class='group-panel-area'>
      <% @groups.each do |group| %>
        <%= link_to group_question_answers_path(group), class: 'link-management-question' do %>
          <%= render partial: 'group_panel', locals: { group: group, num: 2 } %>
        <% end %>
        <%# formはcssでdisplay: none;されているので最初は非表示 %>
        <%= render partial: 'edit_form', locals: { group: group, num: 2 } %>
      <% end %>
      <%# <div class="insert-group-panel"></div> %>
      </div>
    </div>
    <%# //右の問題管理エリア %>
  </div>

  <div class='record'>記録
  </div>
</div>