<%= render 'shared/header' %>
<div class="create-question-main">
  <%# form_withはここから開始して、一番下から二行目の時点でend %>
  <%= form_with model: [@group, @question_answer], class: 'qa-form', local: true do |f| %>
    <%= render partial: 'shared/error_messages', locals: { model: f.object } %>
    <%= render partial: 'qa_form_input', locals: {f: f} %>
    <%= f.submit '編集', class:"qa-form__submit-btn" %>
    <div class="qa-form__preview-and-pulldown">
      <div class="question-preview-and-pulldown">
        <div class="qa-form__question-preview-text">問題のプレビュー</div>
        <%= render partial: 'question_preview_and_pulldown', locals: {f: f} %>
      </div>
      <div class="answer-preview-and-pulldown">
        <div class="qa-form__answer-preview-text">解答のプレビュー</div>
        <%= render partial: 'answer_preview_and_pulldown', locals: {f: f} %>
      </div>
    </div> 
  <% end %>
</div>

<%# 以下はJavaScriptで取得用に記述したコードで、ページ上には表示されない %>
<div class="hidden">
  <%# フォントサイズのデフォルト(font-size: 1rem;)に対する倍率を記述 %>
  <div class="font-size-question"><%= @question_answer.question_option.font_size.name %></div>
  <div class="font-size-answer"><%= @question_answer.answer_option.font_size.name %></div>
  <%# //フォントサイズのデフォルト(font-size: 1rem;)に対する倍率を記述 %>

  <%# 画像サイズのデフォルト(width: 200px;)に対する倍率を記述 %>
  <div class="img-size-question "><%= @question_answer.question_option.image_size.name %></div>
  <div class="img-size-answer "><%= @question_answer.answer_option.image_size.name %></div>
  <%# //画像サイズのデフォルト(width: 200px;)に対する倍率を記述 %>

  <%= image_tag @question_answer.question_option.image, class: 'img-preview-question' if @question_answer.question_option.image.attached? %>
  <%= image_tag @question_answer.answer_option.image, class: "img-preview-answer" if @question_answer.answer_option.image.attached? %>
  
  <%# ページを開いた時にプルダウンのselected属性が何番目のoptionについているかを記述 %>
  <div class="question-font-selected-position"><%= @question_answer.question_option.font_size.id %></div>
  <div class="question-image-selected-position"><%= @question_answer.question_option.image_size.id %></div>
  <div class="answer-font-selected-position"><%= @question_answer.answer_option.font_size.id %></div>
  <div class="answer-image-selected-position"><%= @question_answer.answer_option.image_size.id %></div>
  <%# //ページを開いた時にプルダウンのselected属性が何番目のoptionについているかを記述 %>
</div>
