<%= render 'shared/header' %>
<div class="qa-index-main">

  <%# 異なるグループに遷移するための、グループリンクの一覧 %>
  <div class="link-lists">
    <ul class="link-lists__ul">
    <% @groups.each do |group| %>
      <%= render partial: 'shared/link_lists', locals: { group: group, path: group_question_answers_path(group), count: group.question_answers.count } %>
    <% end %>
    </ul>
  </div>

  <div class="qa-index-question-and-answer-area">
    <%# 投稿された問題が0個なら表示 %>
    <% if @question_answers.empty? && params[:q].nil? %>
      <p class="qa-index-message-empty">まだ問題が投稿されていません</p>
    <% end %>
    <%# 検索結果が0件の場合表示 %>
    <% if @question_answers.empty? && params[:q].present? %>
      <p class="qa-index-message-empty">検索に該当する問題はありません</p>
    <% end %>
    
    <%# ransackを利用した検索フォーム %>
    <%= search_form_for @q, url: group_question_answers_path(@group), class: 'search-form' do |f| %>
      <div class="search-form__group-wrap">
        <div class="search-form__group">
          <%= f.label :question_or_answer_cont, 'キーワード', class: "search-form__label keyword" %>
          <%= f.search_field :question_or_answer_cont, placeholder:"検索ワードを入力" %>
        </div>
        <div class="search-form__group">
          <%= f.label :sorts, '並び替え', class: "search-form__label sort" %>
          <%= f.collection_select :sorts, Sort.all, :value, :name, selected: set_sorts, include_blank: '指定なし' %>
        </div>
      </div>
      <div class="search-form__group-wrap">
        <div class="search-form__group">
          <%= f.label :memory_level_eq, '記憶度', class: "search-form__label memory-level" %>
          <%= f.collection_select :memory_level_eq, @qa_memory_level, :memory_level, :memory_level,  include_blank: '指定なし' %>
        </div>
        <div class="search-form__group">
          <%= f.label :repeat_count_eq, '復習回数', class: "search-form__label repeat-count" %>
          <%= f.collection_select :repeat_count_eq, @qa_repeat_count, :repeat_count, :repeat_count,  include_blank: '指定なし' %>
        </div>
      </div>
      <%= f.submit '検索', class: "search-form__submit-btn" %>
    <% end %>
    <%# // ransackを利用した検索フォーム %>

    <%# 画像をクリックすると、この要素の子要素として挿入され、拡大表示される %>
    <div id="image-target"></div>

    <% @question_answers.each_with_index do |question_answer, i| %>
      <%# ページ遷移してきた際に正常に位置を調整するためのターゲット。画面上に非表示。 %>
      <div class="qa-index-link-target" id=link-<%=question_answer.id%>></div>
      <% if question_answer.id == session[:qa_id] %>
        <%# セッションの中身をリセット %>
        <% session[:qa_id] = nil %>
        <p class="qa-index-notice"><%= notice %></p>
        <div class="qa-index-alert"><%= set_alert(alert) if alert.present? %></div>
      <% end %>
      <div class="qa-index-item" >
        <%# 問題と解答を表示 %>
        <div class="qa-index-item__qa">
          <%= render partial: 'display_question_content', locals: {question_answer: question_answer} %>
          <%= render partial: 'display_answer_content', locals: {question_answer: question_answer} %>
        </div>
        <%# //問題と解答を表示 %>
        <%# 問題と解答の下に位置するコンテンツを表示 %>
        <div class="qa-index-item__description">
          <div class="qa-index-item__record">
            復習までの日数：<span><%= display_date_until_review((question_answer.display_date - Date.today).to_i) %></span>
            記憶度：<span><%= question_answer.memory_level %></span>
            復習回数：<span><%= question_answer.repeat_count %></span>
            <%# 問題の共有機能に関するコード %>
            <% if question_answer.share.nil? %>
              <label for="qa-index-item__check-share-<%=i%>" class="qa-index-item__share">共有する</label>
              <input type="checkbox" id="qa-index-item__check-share-<%=i%>" class="qa-index-item__share-checkbox">
              <label for="qa-index-item__check-share-<%=i%>" class="qa-index-item__share-close"></label>
              <%= form_with model: @share, url: question_answer_shares_path(question_answer), class: "share-form", local: true do |f| %>
                <div class="share-form__category-first-text">カテゴリー1</div>
                <%= f.collection_select(:category_first_id, CategoryFirst.all, :id, :name, {include_blank: "選択してください"}, {id: "share_category_category_first_id_#{i}", class:"share-form__category-first"}) %>
                <div class="share-form__category-second-text">カテゴリー2</div>
                <div class="share-form__please-select">カテゴリー1を選択してください</div>
                <%= f.text_field :category_second, id: "share_category_category_second_#{i}", class: "share-form__category-second", autocomplete: 'off' %>
                <div class="share-form__insert"></div>
                <%= f.submit '問題の共有を実行', class: "share-form__submit-btn" %>
              <% end %>
            <% else %>
              <%= link_to '共有済み', question_answer_share_path(question_answer, question_answer.share), class: "qa-index-item__share-complete", method: :delete, data: { confirm: '問題の共有を解除しますか?' } %>
            <% end %>
            <%# //問題の共有機能に関するコード %>
          </div>
          <%# このチェックボックスは画面上には表示されない。下のlabel要素2つと紐づいている。 %>
          <input type="checkbox" id="qa-index-item__check-<%=i%>" class="qa-index-item__checkbox">
          <label for="qa-index-item__check-<%=i%>"><%= image_tag 'vertical_three_point_reader.png', class: 'qa-index-item__img-three-point' %></label>
          <div class="img-three-point-supplement-text">管理</div>
          <%# 以下のlabel要素は縦3点リーダーアイコンを押さない限り非表示 %>
          <label for="qa-index-item__check-<%=i%>" class="qa-index-item__close"></label>
          <%# 以下のリストは縦3点リーダーアイコンを押さない限り非表示 %>
          <ul class="qa-index-item__management-list">
            <li><%= link_to '問題編集', edit_question_answer_path(question_answer) %></li>
            <li><%= link_to '初期状態にリセット', reset_question_answer_path(question_answer), method: :patch %></li>
            <li><%= link_to '復習周期から外す', remove_question_answer_path(question_answer), method: :patch %></li>
            <li><%= link_to '問題削除', question_answer_path(question_answer), method: :delete %></li>
          </ul>
          <%# //以上のlabelとul要素は初期状態では非表示。上の縦3点リーダーの画像をクリックすることで表示される %>
        </div>
        <%# //問題と解答の下に位置するコンテンツを表示 %>
      </div>
    <% end %>
    <%= paginate @question_answers %>
    <%= link_to 'グループを削除', group_path(@group), method: :delete, class: 'destroy-group', data: { confirm: "グループ内の問題も全て削除されます。\n本当に削除しますか？" } %>
  </div>
</div>

