<%= render 'shared/header' %>
<div class="qa-index-main">
  <%= link_to 'グループを削除', group_path(@group), method: :delete, data: { confirm: "グループ内の問題も全て削除されます。\n本当に削除しますか？" } %>
  <div class="qa-index-questions-wrap">
    <% @question_answers.each do |question_answer| %>
      <%# 問題エリアとその付属情報を表示 %>
      <div class="qa-index-question-individual">
        <div class="qa-index-question-individual__question">
          <%= render partial: 'display_question_content', locals: {question_answer: question_answer} %>
        </div>
        <div class="qa-index-question-individual__description">
          <%= link_to '問題詳細ページ', group_question_answer_path(@group, question_answer) %>
        </div>
      </div>
      <%# //問題エリアとその付属情報を表示 %>
    <% end %>
    <%= paginate @question_answers %>
  </div>
</div>

