<%= render 'shared/header' %>
<div class="qa-index-main">
  <div class="qa-index-question-and-answer-area">
    <%# 投稿された問題が0個なら表示 %>
    <% if @question_answers.empty? %>
      <p class="qa-index-message-empty">まだ問題が投稿されていません</p>
    <% end %>
    <% @question_answers.each_with_index do |question_answer, i| %>
      <div class="qa-index-item" >
        <%# 復習ページから遷移してくる際に正常に位置を調整するためのターゲット。画面上に非表示。 %>
        <div class="qa-index-link-target" id=link-<%=question_answer.id%>></div>
        <%# 問題と解答を表示 %>
        <div class="qa-index-item__qa">
          <%= render partial: 'display_question_content', locals: {question_answer: question_answer} %>
          <%= render partial: 'display_answer_content', locals: {question_answer: question_answer} %>
        </div>
        <%# //問題と解答を表示 %>
        <%# 問題と解答の下に位置するコンテンツを表示 %>
        <div class="qa-index-item__description">
          <div class="qa-index-item__record">
            復習までの日数：
            <span>
              <%# 復習までの日数がマイナスになる場合は0と表記する %>
              <% if (question_answer.display_date - Date.today).to_i >= 0 %>
                <%= (question_answer.display_date - Date.today).to_i %>
              <% else %>
                0
              <% end %>
            </span>
            記憶度：<span><%= question_answer.memory_level %></span>
            復習回数：<span><%= question_answer.repeat_count %></span>
          </div>
          <%# このチェックボックスは画面上には表示されない。下のlabel要素2つと紐づいている。 %>
          <input type="checkbox" id="qa-index__check-<%=i%>">
          <label for="qa-index__check-<%=i%>"><%= image_tag 'vertical_three_point_reader.png', class: 'qa-index-item__img-three-point' %></label>
          <div class="img-three-point-supplement-text">管理</div>
          <%# 以下のlabel要素は縦3点リーダーアイコンを押さない限り非表示 %>
          <label for="qa-index__check-<%=i%>" class="qa-index-item__close"></label>
          <%# 以下のリストは縦3点リーダーアイコンを押さない限り非表示 %>
          <ul class="qa-index-item__management-list">
            <li><%= link_to '問題編集', edit_group_question_answer_path(@group, question_answer) %></li>
            <li>復習周期から外す</li>
            <li>初期状態にリセット</li>
            <li><%= link_to '削除', group_question_answer_path(@group, question_answer), method: :delete %></li>
          </ul>
          <%# //以上のlabelとul要素は初期状態では非表示。上の縦3点リーダーの画像をクリックすることで表示される %>
        </div>
        <%# //問題と解答の下に位置するコンテンツを表示 %>
      </div>
    <% end %>
    <%= paginate @question_answers %>
    <%= link_to 'グループを削除', group_path(@group), method: :delete, class: 'destroy-group', data: { confirm: "グループ内の問題も全て削除されます。\n本当に削除しますか？" } %>
  </div>
</div>

