<%= render 'shared/header' %>
<div class="create-question-main">

   <%# 異なるグループに遷移するための、グループリンクの一覧 %>
  <div class="link-lists">
    <ul class="link-lists__ul">
    <% @groups.each do |group| %>
      <%= render partial: 'shared/link_lists', locals: { group: group, path: new_group_question_answer_path(group), count: "" } %>
    <% end %>
    </ul>
  </div>

  <div class="create-question-main__right">
    <%# form_withはここから開始して、一番下から二行目の時点でend %>
    <%= form_with model: shallow_args(@group, @question_answer), class: 'qa-form', local: true do |f| %>
      <% if notice.present? %>
        <div class="qa-form__notice"><%= notice %></div>
      <% end %>
      <%= render partial: 'shared/error_messages', locals: { model: f.object } %>
      <%= render partial: 'qa_form_input', locals: {f: f} %>
      <%= f.submit '作成', class:"qa-form__submit-btn" %>
      <div class="qa-form__preview-and-pulldown">
        <div class="question-preview-and-pulldown">
          <div class="qa-form__question-preview-text">問題のプレビュー</div>
          <%= render partial: 'question_preview_and_pulldown', locals: {f: f} %>
        </div>
        <div class="answer-preview-and-pulldown">
          <div class="qa-form__answer-preview-text">解答のプレビュー</div>
          <%= render partial: 'answer_preview_and_pulldown', locals: {f: f} %>
        </div>
      </div> 
    <% end %>
  </div>
</div>
