<%= render 'shared/header' %>
<div class="create-question-main">
  <%= form_with model: @question_answer_with_option, url: new_group_question_answer_path, class: 'form-question-answer', local: true do |f| %>
    <div class="question-answer-area">
      <div class="form-question-area">
        <%= f.text_area :question, class:"input-textarea" %>
        <%= f.label :question_image, "画像", class:"image-button" %>
        <%= f.file_field :question_image, class:"hidden" %>
      </div>
      <div class="form-answer-area">
        <%= f.text_area :answer, class:"input-textarea" %>
        <%= f.label :answer_image, "画像", class:"image-button" %>
        <%= f.file_field :answer_image, class:"hidden" %>
      </div>
    </div>
    <%= f.submit '作成', class:"question-submit-button" %>

    <div class="preview-two-area">
      <div class="question-preview">
        <div id="insert-preview-question-textarea"></div>
        <div id="insert-preview-image-question"></div>
      </div>
      <div class="answer-preview">
        <div id="insert-preview-answer-textarea"></div>
        <div id="insert-preview-image-answer"></div>
      </div>
    </div>
    <div class="active-hash-pulldown">
      <div class="question-pulldown">
        <%= f.collection_select(:question_font_size_id, FontSize.all, :id, :name, {}, {class:"genre-select"}) %>
        <%= f.collection_select(:question_image_size_id, ImageSize.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>
      <div class="answer-pulldown">
        <%= f.collection_select(:answer_font_size_id, FontSize.all, :id, :name, {}, {class:"genre-select"}) %>
        <%= f.collection_select(:answer_image_size_id, ImageSize.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>
    </div>
  <% end %>
</div>
