<%= render "shared/header" %>
<div class="review-main">
  <div class="all-reviews-wrap">
  <% @question_answers.each do |question_answer| %>
    <div class="review-individual-wrap">
      <div class="review-question-answer">
        <%= render partial: 'display_question_content', locals: {question_answer: question_answer} %>
        <%= render partial: 'display_answer_content', locals: {question_answer: question_answer} %>
        <div class="review-click">クリックすると解答を表示</div>
      </div>
      <div class="review-option">
        <%= link_to '問題詳細ページ', group_question_answer_path(@group, question_answer) %>
        <div class="review-option__memory-level-wrap">
          <div class="review-option__memory-level-description">
            <div class="review-option__memory-level-text">記憶度</div>
            <div class="hoge">?</div>
          </div>
          <div class="review-option__btn-wrap">
            <div class="review-option__memory-level-low">低</div>
            <% qa = question_answer %>
            <% ra = question_answer.repetition_algorithm %>
            <div class="review-option__btn js-0" data-interval=<%=ra.interval%> data-ef=<%=ra.easiness_factor%> data-qa-id=<%=qa.id%> data-rc=<%=qa.repeat_count%>>1</div>
            <div class="review-option__btn js-1" data-interval=<%=ra.interval%> data-ef=<%=ra.easiness_factor%> data-qa-id=<%=qa.id%> data-rc=<%=qa.repeat_count%>>2</div>
            <div class="review-option__btn js-2" data-interval=<%=ra.interval%> data-ef=<%=ra.easiness_factor%> data-qa-id=<%=qa.id%> data-rc=<%=qa.repeat_count%>>3</div>
            <div class="review-option__btn js-3" data-interval=<%=ra.interval%> data-ef=<%=ra.easiness_factor%> data-qa-id=<%=qa.id%> data-rc=<%=qa.repeat_count%>>4</div>
            <div class="review-option__memory-level-high">高</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @question_answers %>
  </div>
</div>