<%= render 'shared/header' %>
<div class="show-main">
  <div class="show-question-answer">
    <%# 問題を表示するエリア %>
      <%= render partial: 'display_question_content', locals: {question_answer: @question_answer} %>
    <%# //問題を表示するエリア %>
    <%# 解答を表示するエリア %>
      <%= render partial: 'display_answer_content', locals: {question_answer: @question_answer} %>
    <%# //解答を表示するエリア %>
  </div>
  <div>
    次表示されるまでの日数：<%= @question_answer.display_date - Date.today.yday %>
  </div>
  <div>
    記憶度：<%= @question_answer.memory_level %>
  </div>
  <div>
    復習回数：<%= @question_answer.repeat_count %>
  <div>
  <%= link_to '問題編集ページ', edit_group_question_answer_path(@group, @question_answer) %>
  <%= link_to '削除', group_question_answer_path(@group, @question_answer), method: :delete %>

</div>